<%- include("partials/header"); -%>
    <div class="divforcontact">
        <h1>Contact</h1>
        <p> <%= contactContent %> </p>
        <a href="https://www.linkedin.com/in/jeevananthan-subramanian-195a791b8">Click to contact ME</a>
    </div>
    
<%- include("partials/footer"); -%>
